body > div {
  margin: 20px 0;
}

body {
  background-color: grey;
}

.red-gold {
  color: rgb(200, 0, 0);
}

#mob-block {
  border: 3px; border-style: solid;
  margin-left: 25px;
  background-image: url('backgrounds/swamp.jpg') ;
  width: 200px;
}

#mob-block-2 {
  position: absolute;
  bottom: 600px; left: 280px;
  background-image: url('backgrounds/void.jpg');
  border: 5mm; border-style: solid;
}

#world-1-title {
  margin-top: 30px;
  margin-left: 50px;
}

#mob-health-block {
  margin-left: 15px;
  color: rgb(255, 85, 85);
  position: absolute;
  top: 120px;
}

.multi-button {
  color: blue;
}
.multi-button:hover {
  cursor: pointer;
}
.solo-button:hover {
  cursor: pointer;
}

#next-world-1 {
  border-radius: 10cm;
  position: absolute;
  top: 180px;
  left: 400px;
}

#next-world-button-1-A {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 210px;
  top: -60px;
  width: 50px;
  border: 2px solid;
  border-color: rgb(36, 214, 0);
}

#next-world-button-1-A:hover{
  cursor: pointer;
  background-color: rgb(36, 214, 0);
}

#next-world-button-1-B {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 210px;
  top: -60px;
  width: 50px;
  border: 2px solid;
  border-color: red;
}

#next-world-button-1-B:hover{
  cursor: pointer;
  background-color: red;
}

#mob-image:hover{
  cursor: pointer;
}

#gold-block {
  margin-left: 80px;
  padding-left: 10px;
  width: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.next-cost-blocks {
  padding-left: 50px;
}

.buying-blocks {
  border: 0.5px solid;
  width: 238px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: rgb(104, 136, 104);
}

#world-block-1 {
  border: 5px solid;
  width: 310px;
  height: 800px;
  padding-left: 50px;
  background-color: rgb(104, 136, 104);
}

#to-be-continued-text {
  position: absolute;
  left: 550px;
  top: 150px;
  font-size: x-large;
}